.banner {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 0 16px;
  max-width: 80%;

  &__ad__image {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
    max-width: 320px;
    height: auto;
  }

  &__ad__link {
    padding-top: 3px;
    padding-bottom: 4px;
    display: block;
    text-align: center;
  }
  &__ad__btn {
    position: absolute;
    padding: 5px;
    border: 0;
    background-color: #fff;
    right: 20%;
    margin-top: 27px;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-position: -349px -293px;
      background-image: url(/src/img/sp/sp_search.png);
      -webkit-background-size: 408px 372px;
      background-size: 408px 372px;
      background-repeat: no-repeat;
    }
  }
}
