.footer {
  display: block;
  margin: 0 27px;
  border: 1px solid;
  // 태블릿 기준

  &__wrap {
    margin: 16px 0 24px;
    text-align: center;
  }

  &__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    border-radius: 27px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    background-color: #fdfdfd;

    &::before {
      content: '';
      display: inline-block;
      width: 56px;
      height: 53px;
      background-position: 0 0;
      vertical-align: top;
      margin: 0 12px 0 24px;

      @include spImg(
        $url: '/src/img/sp/sp_search.png',
        $size: 408px 372px,
        $position: -147px -111px
      );
    }
  }
}
