$breakpoint-mobile: 500px;
$breakpoint-laptop: 1152px;

.content__card {
  color: #303038;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin: 8px;
  box-sizing: border-box;
}
