@import './variable';
@import './normalize';
@import './header.scss';
@import './searchbar';
@import './shortcut';
@import './footer';
@import './contents/weathers';
@import './contents/naverapp';
@import './contents/stock';
@import './contents/promotion';
@import './contents/shoppinglive';
@import './contents/card';
@import './contents/banner';
@import './contents/clip';
@import './contents/event';

@media screen and (max-width: 1652px) {
  .content__card {
    max-height: 1000px;
  }

  .content__card__item {
    width: 48vw;
  }
}

@media screen and (max-width: 1024px) {
  .content__card {
    max-height: 1000px;
  }

  .content__card__item {
    width: 48vw;
  }
}

@media screen and (max-width: 768px) {
  .content__card {
    max-height: none;
  }

  .content__card__item {
    width: 100%;
  }
}
